{%  extends '::forntend.html.twig' %}

{% block title %}FAC - Editar Empresa{% endblock %}
{% block metas %}
<meta name="description" content="Home">
<meta name="keywords" content="FAC">
<meta name="robots" CONTENT="noindex, nofollow">
{% endblock%}


 {% block stylesheets %}
 {{ parent() }}
 <script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
  <script src="{{ asset('js/mostrar_divs.js') }}"></script>
 <link href="{{ asset('bundles/ofigestion/css/home.css') }}" rel="stylesheet" type="text/css" />
 <link href="{{ asset('css/menu.css') }}" rel="stylesheet" type="text/css" /> 
 <link href="{{ asset('bundles/ofigestion/css/empresa.css') }}" rel="stylesheet" type="text/css" /> 
  <link href="{{ asset('bundles/ofigestion/css/proyecto.css') }}" rel="stylesheet" type="text/css" /> 
 {% endblock%}


	{% block javascripts %}
		{{ tinymce_init() }}
	{% endblock%}



{% block cabecera %}
{% include 'OfiGestionBundle:Fijas:sesion.html.twig' %}
{% include 'OfiGestionBundle:Fijas:menu.html.twig' %} 
 {% endblock%}
 
 {% block body %}


 
 
  <nav id="nav_retorno">
   		{% if entity.presupuesto.proyecto.empresa.tipo==1 %}
			{% set clase_empresa='img_cli' %}
		{% elseif entity.presupuesto.proyecto.empresa.tipo==0 %}
			{% set clase_empresa='img_pro' %}
		{% endif %}
		
		<div class="capsula_nav capsula_atras">
		<a href="{{ path('ofi_gestion_editarempresa', {'id':entity.presupuesto.proyecto.empresa.id }) }}"  title="volver a ficha de empresa: {{ entity.presupuesto.proyecto.empresa.nomsocial }}" class="link_empre {{ clase_empresa }}" >
		{{ entity.presupuesto.proyecto.empresa.nomsocial }}
		</a>
	</div>
	 
	<div class="capsula_nav capsula_atras">
		<a class="link_simple" href="{{ path('ofi_gestion_editarproyecto', {'idproyecto':entity.presupuesto.proyecto.id })}}" title="Volver a el Proyecto">
			<b>Proyecto:</b> {{ entity.presupuesto.proyecto.nombre }}
		</a> 
	</div>
		
	<div class="capsula_nav">
			<b>Presupuesto:</b> {{ entity.presupuesto.nombre}}
	</div>		
  </nav>
 
<section id="res_proyecto">

<div id="accionaeditpro" class="editar_datos_txt"
				title="Editar datos del proyecto" >Editar datos Presupuesto</div>

<div id="targeteditpro" class="caudro_form explica">		
		{{ render(controller('OfiGestionBundle:Presupuesto:editarForm',
							{'idpresupuesto': entity.presupuesto.id })) }} 
			</div>
			
<p class="explica">
Introducir los detalles del presupuesto 
	<b>{{ entity.presupuesto.nombre }}</b>. Correspondiente al proyecto:
						<b>{{ entity.presupuesto.proyecto.nombre }}</b>
</p>

 <div id="texto_presu">
 {{ entity.presupuesto.texto | raw }}
 </div>
	<div id="for_detalle"> 
	<h2>Introducir detalles para el presupuesto...</h2>
	<div id="accionaDetalle" class="ver_ocultos" 
								title="Insertar más detalles al presupuesto" ></div> 
	<div id="targetDetalle" class="caudro_form explica">	
	 <form id="form_correo"   action="{{ path('ofi_gestion_creardetallepresupuesto',{'idpresupuesto': entity.presupuesto.id,'editpre':'si','idproyecto':entity.presupuesto.id}) }}" method="post" {{ form_enctype(form_detallepre) }}>
			<input type="hidden" name="_method" value="PUT" />
			{{ form_errors(form_detallepre) }}


				<div id="caj_servicio">
					{{ form_label(form_detallepre.servicio,"Servicio:") }}
					{{ form_errors(form_detallepre.servicio) }}
					{{ form_widget(form_detallepre.servicio) }}
				</div>

				<div id="caj_precio">
					{{ form_label(form_detallepre.precio,"Precio:") }}
					{{ form_errors(form_detallepre.precio) }}
					{{ form_widget(form_detallepre.precio) }}
				</div>

				<div id="caj_des">
					{{ form_label(form_detallepre.descripcion,"Descripción:") }}
					{{ form_errors(form_detallepre.descripcion) }}
					{{ form_widget(form_detallepre.descripcion) }}
				</div>
				


				

				<div id="datos_envio">
				<button type="submit"  
				class="botones_verde" title="Editar Correo" >
									Añadir detalle</button>
				</div>
			 {{ form_rest(form_detallepre) }}
	 </form>
	 </div> 
	 </div>


	<div id="lista_detalles_pre">
		{{ render(controller('OfiGestionBundle:Presupuesto:listadoDetallePre',
							{'idpresupuesto': entity.presupuesto.id })) }} 
	</div>						
 </div>
 {% endblock%}
 
 {% block footer %}
 {% include 'OfiGestionBundle:Fijas:footer.html.twig' %} 
 {% endblock%}
