<table>
        
        <thead>
            <tr>
               <th class="alaiz">Descripcion</th>
				<th class="alaiz">Servicio</th>
				<th class="alaiz">Precio</th>
				<th class="acciones"></th>        
            </tr>
            
        </thead>
        
        <tbody>
            {% set n=1 %}
            {% set total=0 %}
        {% for presupuesto in entity %}
        
			{% if n is divisibleby(2)  %}
				{% set linea="impar" %} 
            {% else %}
				{% set linea="par" %}
            {% endif %}
        
        
            <tr class=" {{ linea }} ilumina">
				
				<td>
				{{ presupuesto.descripcion | raw }}
				</td>

				<td>
				{{ presupuesto.servicio }}
				</td>
				
				<td>
				{{ presupuesto.precio|number_format(2, ',', '.') }} €
				{% set total=total+presupuesto.precio %}
				</td>
				

				
				
            
				<td>
				<a href="{{ path('ofi_gestion_eliminardetallepre',
				{'id':presupuesto.id}) }}" class="bo_borrar" 
				title="Eliminar detalle del presupuesto"></a>
				</td>
            </tr>

               {% set n=n+1 %} 
                  
        {% endfor %}
             <tr id="final">
             <td colspan="2" id="totalpre"> Total </td><td id="totaleuros"  colspan="2">{{ total|number_format(2, '.', ',') }} €</td>
             </tr>  
        </tbody>
        
    </table> 
