{%  extends '::forntend.html.twig' %}

 {% block stylesheets %}
 {{ parent() }}
	 <link href="{{ asset('css/login.css') }}" rel="stylesheet" type="text/css" /> 
 {% endblock%}

{% block body %}
<section id="contenidos_login">
<h1>Proceso de identificación</h1>
<p>
Acceso al panel a FAC.
</p>
{% if error %}
<div id="mensa_error">{{ error.message|trans() }}</div>
{% endif %}

<div  id="f_login">
		<form action="{{ path('login_check') }}" method="post" id="ellogin">
		 <div class="ca_log">
		<label for="username" class="lab_log">Usuario:</label>
		 <input id="username" type="text" name="_username" value="{{ last_username }}" class="inp_log" />
		 </div>
		 
		 <div class="ca_log">
		 <label for="password" class="lab_log">Contraseña:</label>
		 <input id="password" type="password" name="_password"  class="inp_log" />
		 </div>
		 <input type="hidden" name="_target_path" value="ofi_gestion_homepage" />
		 <input type="submit"  name="login" id="boton_login" value="Acceso" title="Iniciar el proceso de identificación"   />
		</form>
</div>

</section>  

{% endblock %}
