<nav id="menu_principal">
	{% set a=app.request.uri|split('/') %}
	{% set selempresa	='' %}
		{% for datos in a %}
			{% if datos=='empresa' %}
				{% set selempresa='sele' %}
			{% endif %}
		{% endfor %}	
<ul class="mi-menu">
  
  <li><a href="{{ path('ofi_gestion_nuevafactura') }}">inicio</a></li>
 
   <li>
	<a href="#">Admin</a>
    <ul>
      <li><a href="{{ path('ofi_gestion_editarAdminConfig',{'id':1})}}">Configurar</a></li>
    </ul>
    

 </li>
  

   <li>
	<a href="#">Configurar Impuestos</a>
     <ul>
      <li><a href="{{ path('iva_nuevo')}}">Crear IVA</a></li>
      <li><a href="{{ path('iva_listar')}}">Listar IVA</a></li>
      <li><a href="{{ path('irpf_nuevo')}}">Crear IRPF</a></li>
      <li><a href="{{ path('irpf_listar')}}">Listar IRPF</a></li>
    </ul>
 </li>
  
  
  <li>
    <a href="#">Empresas</a>
    <ul>
	  <li><a href="{{ path('ofi_gestion_listarempresa',{'filtro':1}) }}">Listado Clientes</a></li>	
      <li><a href="{{ path('ofi_gestion_listarempresa',{'filtro':0}) }}">Listado Proveedores</a></li>
      <li><a href="{{ path('ofi_gestion_listarempresa',{'filtro':2}) }}">Listado todas</a></li>
      <li><a href="{{ path('ofi_gestion_nuevoempresa') }}">Crear</a></li>
    </ul>
  </li>



 <li>
	<a href="#">Facturas</a>
     <ul>
      <li><a href="{{ path('ofi_gestion_listarfactura') }}">Listado</a></li>
      <li><a href="{{ path('ofi_gestion_nuevafactura') }}">Crear</a></li>
    </ul>
 </li>

 <li>
	<a href="#">Servicios</a>
     <ul>
      <li><a href="{{ path('ofi_gestion_listarservicio') }}">Listado</a></li>
      <li><a href="{{ path('ofi_gestion_crearservicio') }}">Crear</a></li>
    </ul>
 </li>

</ul>
</nav>
