{%  extends '::forntend.html.twig' %}

{% block title %}FAC - editar Factura{% endblock %}
{% block metas %}
<meta name="description" content="Home">
<meta name="keywords" content="FAC">
<meta name="robots" CONTENT="noindex, nofollow">
{% endblock%}


 {% block stylesheets %}
 {{ parent() }}
 <script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
 <script src="{{ asset('js/mostrar_divs.js') }}"></script>
 <link href="{{ asset('bundles/ofigestion/css/home.css') }}" rel="stylesheet" type="text/css" />
 <link href="{{ asset('css/menu.css') }}" rel="stylesheet" type="text/css" /> 
 <link href="{{ asset('bundles/ofigestion/css/empresa.css') }}" rel="stylesheet" type="text/css" /> 
 <link href="{{ asset('bundles/ofigestion/css/factura.css') }}" rel="stylesheet" type="text/css" /> 
 {% endblock%}



	{% block javascripts %}
		{{ tinymce_init() }}
	{% endblock%}


{% block cabecera %}
{% include 'OfiGestionBundle:Fijas:sesion.html.twig' %}
{% include 'OfiGestionBundle:Fijas:menu.html.twig' %} 
 {% endblock%}
 
 
 {% block body %}
 
 
 {% for flashMessage2 in app.session.flashbag.get('factura') %}
    <div class="flash_ok">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

{% for flashMessage2 in app.session.flashbag.get('factura_error') %}
    <div class="flash_error">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

  <nav id="nav_retorno">
   		{% if entity.empresa.tipo==1 %}
			{% set clase_empresa='img_cli' %}
		{% elseif entity.empresa.tipo==0 %}
			{% set clase_empresa='img_pro' %}
		{% endif %}
		
		<div class="capsula_nav capsula_atras">
		<a href="{{ path('ofi_gestion_editarempresa', {'id':entity.empresa.id }) }}"  title="volver a ficha de empresa: {{ entity.empresa.nomsocial }}" class="link_empre {{ clase_empresa }}" >
		{{ entity.empresa.nomsocial }}
		</a>
	</div>
	
	{% if entity.proyecto!='' %}
		<div class="capsula_nav capsula_atras">
			<a class="link_simple" href="{{ path('ofi_gestion_editarproyecto', {'idproyecto':entity.proyecto.id })}}" title="Volver a el Proyecto">
				<b>Proyecto:</b> {{ entity.proyecto.nombre }}
			</a> 
		</div>
	{% endif %}	
		
	<div class="capsula_nav">
			<b>Factura:</b> {{ entity.nfactura  }}
	</div>		
  </nav>
 

	
 <div id="caja_general">
 <h2><span class="color_claro2">Fecha:</span> {{ entity.fecha|date('d-m-Y') }}</h2>

 
 <form action="{{ path('ofi_gestion_actualizafactura',
				{'id':entity.id}) }}" 
				method="post" {{ form_enctype(edit_form) }}>
						
				
				
	<input type="hidden" name="_method" value="POST" />
	{{ form_errors(edit_form) }}

		<div>
			{{ form_label(edit_form.nfactura,"Nº factura:") }}
			{{ form_errors(edit_form.nfactura) }}
			{{ form_widget(edit_form.nfactura) }}
		</div>
		
		<div>
			{{ form_label(edit_form.fecha,"Fecha:") }}
			{{ form_errors(edit_form.fecha) }}
			{{ form_widget(edit_form.fecha) }}
		</div>
		
		<div>
			{{ form_label(edit_form.empresa,"Empresa:") }}
			{{ form_errors(edit_form.empresa) }}
			{{ form_widget(edit_form.empresa) }}
		</div>		

		<div>
			{{ form_label(edit_form.tipofactura,"Tipo:") }}
			{{ form_errors(edit_form.tipofactura) }}
			{{ form_widget(edit_form.tipofactura) }}
		</div>			
		<div id="datos_envio">
		
		<button type="submit"  class="botones_verde" 
		title="Editar empresa" >Aplicar Cambios</button>
		  
		</div>
	 {{ form_rest(edit_form) }}
 </form> 
 </div>
 

	<div id="late_der"> 
		{% if entity.tipofactura==1 %}   
			<div id="masdatos">
				<div id="accionaDetalle" class="ver_ocultos " title="Insertar más detalles a la factura" ></div> 
		   
				<div id="targetDetalle"  class="caudro_form largo_80"> 							
					{{ render(controller('OfiGestionBundle:Factura:MostrarDisponibles', {'idproyecto': entity.proyecto.id,'idfactura':entity.id })) }}
				</div>  
			</div>  
		{% endif %} 

		{% if entity.tipofactura==1 %} 
			<div id="accionaCorreo" class="ver_ocultos " 
											title="Insertar más detalles a la factura" ></div> 
				<div id="targetCorreo" class="caudro_form largo_80">
			{{ render(controller('OfiGestionBundle:Factura:FormularioDetalle', {'idproyecto': entity.proyecto.id,'idfactura':entity.id })) }}
			</div>
		{% elseif entity.tipofactura==0 %} 
			<div id="accionaCorreo" class="ver_ocultos largo_80"" 
											title="Insertar más detalles a la factura" ></div> 
				<div id="targetCorreo" class="caudro_form largo_80">
			{{ render(controller('OfiGestionBundle:Factura:FormularioDetalleProvee', {'idfactura':entity.id })) }}
			</div>

		{% endif %} 

		 

		<div id="masdatos">
			{% if entity.tipofactura==1 %}
			{{ render(controller('OfiGestionBundle:Factura:MostrarInsertadas',
								{'idproyecto': entity.proyecto.id,'idfactura':entity.id })) }}         
			{% elseif entity.tipofactura==0 %} 
			{{ render(controller('OfiGestionBundle:Factura:MostrarInsertadasProv',
								{'idfactura':entity.id })) }}  
			{% endif %}	
			
	   <div id="totalesfactura">
	   {% if lostotales.alertaIva != '' %}
	   <div class='alerta_iva'>{{ lostotales.alertaIva }}</div>
	   {% endif %}
	   
	   <table >
		   <tr><td>Subtotal</td><td>{{ lostotales.subtotal |number_format(2, ',', '.')  }} €</td></tr>
		   <tr><td>Subtotal IVA </td><td>{{ lostotales.subtotaliva |number_format(2, ',', '.')  }} €</td></tr>
		   <tr><td>Subtotal IRPF</td><td>{{ lostotales.subtotaliva |number_format(2, ',', '.')  }} €</td></tr>
		   <tr><td>TOTAL FACTURA</td><td>{{ lostotales.totalfactura |number_format(2, ',', '.')  }} €</td></tr>
       </table>
       </div>					
		</div>    
       
       

       
    </div>   
  
  
   <div id="datos_extras">
 <h2>Datos Estadisticos</h2>
 </div>
  
       
 {% endblock%}
 
 {% block footer %}
 {% include 'OfiGestionBundle:Fijas:footer.html.twig' %} 
 {% endblock%}
 
 
 
