{%  extends '::forntend.html.twig' %}

{% block title %}FAC - editar Factura{% endblock %}
{% block metas %}
<meta name="description" content="Home">
<meta name="keywords" content="FAC">
<meta name="robots" CONTENT="noindex, nofollow">
{% endblock%}


 {% block stylesheets %}
 {{ parent() }}
 <script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
 <script src="{{ asset('js/mostrar_divs.js') }}"></script>
 <link href="{{ asset('bundles/ofigestion/css/home.css') }}" rel="stylesheet" type="text/css" />
 <link href="{{ asset('css/menu.css') }}" rel="stylesheet" type="text/css" /> 
 <link href="{{ asset('bundles/ofigestion/css/empresa.css') }}" rel="stylesheet" type="text/css" /> 
 <link href="{{ asset('bundles/ofigestion/css/factura.css') }}" rel="stylesheet" type="text/css" /> 
 {% endblock%}






{% block cabecera %}
{% include 'OfiGestionBundle:Fijas:sesion.html.twig' %}
{% include 'OfiGestionBundle:Fijas:menu.html.twig' %} 
 {% endblock%}
 
 
 {% block body %}
 
 
 {% for flashMessage2 in app.session.flashbag.get('factura') %}
    <div class="flash_ok">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

{% for flashMessage2 in app.session.flashbag.get('factura_error') %}
    <div class="flash_error">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}
 
 <h1><span class="color_oscuro">FACTURA:</span> {{ entity.nfactura }} </h1>
  	{% if entity.proyecto!='' %}
	<a href="{{ path('ofi_gestion_editarproyecto', {'idproyecto': entity.proyecto.id  }) }}" class="editar_datos_txt"
				title="Vovler a la ficha del proyecto: {{ entity.proyecto.nombre }}"> {{ entity.proyecto.nombre }}</a>
	{% endif %}	
	
 <div id="caja_general">
 <h2>{{ entity.fecha|date('d-m-Y') }}</h2>

 
 <form action="{{ path('ofi_gestion_actualizafactura',
				{'id':entity.id}) }}" 
				method="post" {{ form_enctype(edit_form) }}>
						
				
				
	<input type="hidden" name="_method" value="POST" />
	{{ form_errors(edit_form) }}

		<div>
			{{ form_label(edit_form.nfactura,"Nº factura:") }}
			{{ form_errors(edit_form.nfactura) }}
			{{ form_widget(edit_form.nfactura) }}
		</div>
		
		<div>
			{{ form_label(edit_form.fecha,"Fecha:") }}
			{{ form_errors(edit_form.fecha) }}
			{{ form_widget(edit_form.fecha) }}
		</div>
		
		<div>
			{{ form_label(edit_form.empresa,"Empresa:") }}
			{{ form_errors(edit_form.empresa) }}
			{{ form_widget(edit_form.empresa) }}
		</div>		

		<div>
			{{ form_label(edit_form.tipofactura,"Tipo:") }}
			{{ form_errors(edit_form.tipofactura) }}
			{{ form_widget(edit_form.tipofactura) }}
		</div>			
		<div id="datos_envio">
		
		<button type="submit"  class="botones_verde" 
		title="Editar empresa" >Aplicar Cambios</button>
		  
		</div>
	 {{ form_rest(edit_form) }}
 </form> 
 </div>
 
  
       
    <div id="masdatos">
   <div id="accionaDetalle" class="ver_ocultos" title="Insertar más detalles a la factura" ></div> 
   
	<div id="targetDetalle"  class="caudro_form explica"> 							
		{{ render(controller('OfiGestionBundle:Factura:MostrarDisponibles', {'idproyecto': entity.proyecto.id,'idfactura':entity.id })) }}
	</div>  
	
    </div>   
     
        <div id="masdatos">
   
    {{ render(controller('OfiGestionBundle:Factura:MostrarInsertadas',
							{'idproyecto': entity.proyecto.id,'idfactura':entity.id })) }} 
    </div>    
       
       
       
 {% endblock%}
 
 {% block footer %}
 {% include 'OfiGestionBundle:Fijas:footer.html.twig' %} 
 {% endblock%}
 
 
 
