
<div id="lista_datofac"> 
{% if entity|length>0 %}

        {% for datofac in entity %}
        
				
			
				<label class="etiqueta">Razón Social:</label> 
				<div class="dato">{{ datofac.razonsocial }}</div>
				
				<label class="etiqueta">Nif/Cif:</label> 
				<div class="dato">{{ datofac.nif }}</div>
				
				<label class="etiqueta">Dirección:</label> 
				<div class="dato">{{ datofac.direccion }}</div>
				
				<label class="etiqueta">Población:</label> 
				<div class="dato">{{ datofac.poblacion }}</div>
				
				<label class="etiqueta">Código Postal:</label> 
				<div class="dato">{{ datofac.cp }}</div>
            
            <div id="eli_DF">
			<a href="{{ path('ofi_gestion_eliminardatofacAdmin',
				{'id':datofac.id}) }}" class="bo_borrar" 
				title="Eliminar Datos Facturación"></a>
			</div>	
        {% endfor %}
       
    
    {% endif %}
</div>        
