{%  extends '::forntend.html.twig' %}

{% block title %}FAC - Inicio{% endblock %}
{% block metas %}
<meta name="description" content="Home">
<meta name="keywords" content="FAC">
<meta name="robots" CONTENT="noindex, nofollow">
{% endblock%}


 {% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('bundles/gestionbundle/css/home.css') }}" rel="stylesheet" type="text/css" />
 <link href="{{ asset('css/menu.css') }}" rel="stylesheet" type="text/css" /> 
 <link href="{{ asset('bundles/ofigestion/css/empresa.css') }}" rel="stylesheet" type="text/css" /> 
 {% endblock%}






{% block cabecera %}
{% include 'OfiGestionBundle:Fijas:sesion.html.twig' %}
{% include 'OfiGestionBundle:Fijas:menu.html.twig' %} 
 {% endblock%}
 
 
 {% block body %}
 
 
 {% for flashMessage2 in app.session.flashbag.get('empresa') %}
    <div class="flash_ok">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

{% for flashMessage2 in app.session.flashbag.get('empresa_error') %}
    <div class="flash_error">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}
 
 
 
 <div id="for_crear">
 <h2>Creación de nueva empresa</h2>
 <form action="{{ path('ofi_gestion_crearempresa') }}" method="post" 
				{{ form_enctype(form) }} id="for_crear2">
        <input type="hidden" name="_method" value="POST" />
        {{ form_errors(form) }}
        	<div id="c_nombre">
				{{ form_label(form.nombre,"Nombre:") }}
				{{ form_errors(form.nombre) }}
				{{ form_widget(form.nombre) }}
			</div>
			
			<div id="c_apellido">
				{{ form_label(form.apellido,"Apellidos: ") }}
				{{ form_errors(form.apellido) }}
				{{ form_widget(form.apellido) }}
			</div>
			
			<div id="c_nomsocial">
				{{ form_label(form.nomsocial,"Nombre Comercial:") }}
				{{ form_errors(form.nomsocial) }}
				{{ form_widget(form.nomsocial) }}
			</div>	
			
			<div id="c_tipo">
				{{ form_label(form.tipo,"Tipo empresa:") }}
				{{ form_errors(form.tipo) }}
				{{ form_widget(form.tipo) }}
			</div>	
			
			<div id="c_tipo">
				{{ form_label(form.mayordetalle,"Mayor / Detalle:") }}
				{{ form_errors(form.mayordetalle) }}
				{{ form_widget(form.mayordetalle) }}
			</div>	
			
			
			<div id="datos_envio">
			<button type="submit"  class="botones_verde" 
					title="Crear empresa" >Crear empresa nueva</button>
		    </div>
         {{ form_rest(form) }}
 </form>  
 </div>     
 {% endblock%}
 
 {% block footer %}
 {% include 'OfiGestionBundle:Fijas:footer.html.twig' %} 
 {% endblock%}
