{%  extends '::forntend.html.twig' %}

{% block title %}FAC - Editar Empresa{% endblock %}
{% block metas %}
<meta name="description" content="Home">
<meta name="keywords" content="FAC">
<meta name="robots" CONTENT="noindex, nofollow">
{% endblock%}


 {% block stylesheets %}
 {{ parent() }}
 <script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
  <script src="{{ asset('js/mostrar_divs.js') }}"></script>
 <link href="{{ asset('bundles/ofigestion/css/home.css') }}" rel="stylesheet" type="text/css" />
 <link href="{{ asset('css/menu.css') }}" rel="stylesheet" type="text/css" /> 
 <link href="{{ asset('bundles/ofigestion/css/empresa.css') }}" rel="stylesheet" type="text/css" /> 
 {% endblock%}






{% block cabecera %}
{% include 'OfiGestionBundle:Fijas:sesion.html.twig' %}
{% include 'OfiGestionBundle:Fijas:menu.html.twig' %} 
 {% endblock%}
 
 
 {% block body %}
 
 
 {% for flashMessage2 in app.session.flashbag.get('empresa') %}
    <div class="flash_ok">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

{% for flashMessage2 in app.session.flashbag.get('empresa_error') %}
    <div class="flash_error">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}
 
 <h1>
 {% if tipo==1 %}
				<img src="{{ asset('images/cliente.png') }}" alt="Icono Cliente" title="Cliente" />
				{% elseif tipo==0 %}
				<img src="{{ asset('images/proveedor.png') }}" alt="Icono Proveedor" title="Proveedor" />
				{% endif %}
   {{ entity.nombre }} {{ entity.apellido }}</h1>
 	 <div id="accionaDF"  class="ver_DF"
								title="Ver/Editar datos de facturación">
								Datos facturación / Generales</div>
 <div id="caja_general">
 <h2>Datos Generales</h2>
 <form action="{{ path('ofi_gestion_actualizarempresa',
				{'id':entity.id}) }}" 
				method="post" {{ form_enctype(edit_form) }}>
				
	<input type="hidden" name="_method" value="PUT" />
	{{ form_errors(edit_form) }}

		<div id="c_nombre">
			{{ form_label(edit_form.nombre,"Nombre:") }}
			{{ form_errors(edit_form.nombre) }}
			{{ form_widget(edit_form.nombre) }}
		</div>
		
		<div id="c_apellido">
			{{ form_label(edit_form.apellido,"Apellidos:") }}
			{{ form_errors(edit_form.apellido) }}
			{{ form_widget(edit_form.apellido) }}
		</div>
		
		<div id="c_nomsocial">
			{{ form_label(edit_form.nomsocial,"Nombre comercial:") }}
			{{ form_errors(edit_form.nomsocial) }}
			{{ form_widget(edit_form.nomsocial) }}
		</div>		

		<div id="c_tipo">
			{{ form_label(edit_form.tipo,"Tipo:") }}
			{{ form_errors(edit_form.tipo) }}
			{{ form_widget(edit_form.tipo) }}
		</div>	
		
		<div id="c_tipo">
			{{ form_label(edit_form.mayordetalle,"Mayor / Detalle:") }}
			{{ form_errors(edit_form.mayordetalle) }}
			{{ form_widget(edit_form.mayordetalle) }}
		</div>		
				
		<div id="datos_envio">
		
		<button type="submit"  class="botones_verde" 
		title="Editar empresa" >Aplicar Cambios</button>
		  
		</div>
	 {{ form_rest(edit_form) }}
 </form> 
 
  <div id="estadisticas">
 <h2>Datos Estadísticos</h2>
 hola datos
 </div>
 
 </div>
 

 
 
 <div id="caja_correo">
 <h2>Correos:</h2>
	{{ render(controller('OfiGestionBundle:Correo:listar',
						{'id': entity.id})) }} 
	<div id="accionaCorreo" class="ver_ocultos" 
						title="Insertar más correos" ></div>
						
	<div id="targetCorreo" class="caudro_form">
	{{ render(controller('OfiGestionBundle:Correo:nuevo',
							{'id': entity.id})) }} 
	</div>
 </div>
 
 
 
  <div id="caja_telefono">
   <h2>Teléfonos:</h2>
	 {{ render(controller('OfiGestionBundle:Telefono:listar',
								{'id': entity.id})) }}
	 <div id="accionaTelefono" class="ver_ocultos" 
								title="Insertar más teléfonos" ></div> 
	 <div id="targetTelefono" class="caudro_form">				
	 {{ render(controller('OfiGestionBundle:Telefono:nuevo',
								{'id': entity.id})) }} 
	 </div>
 </div>
    

    
  <div id="caja_datos">
  <h2>Datos Facturación</h2>	
	 {{ render(controller('OfiGestionBundle:DatoFac:listar',
								{'id': entity.id})) }} 
	 {{ render(controller('OfiGestionBundle:DatoFac:nuevo',
								{'id': entity.id})) }} 
 </div>   
       
       

       
       
{% if entity.tipo==1 %}       
       
 <div id="proyectos">
 <h2>Proyectos</h2>
	 <div id="accionaProyectos" class="ver_ocultos" 
								title="Insertar un proyecto" ></div>  
 	 <div id="targetProyectos" class="caudro_form">				
	 {{ render(controller('OfiGestionBundle:Proyecto:nuevo',
								{'idempresa': entity.id})) }} 
	 </div>
 
 {{ render(controller('OfiGestionBundle:Proyecto:listar',
								{'idempresa': entity.id})) }} 
 </div>  
     
 {% endif %}     
  
  
  

  
  
       
 {% endblock%}
 
 {% block footer %}
 {% include 'OfiGestionBundle:Fijas:footer.html.twig' %} 
 {% endblock%}
 

