{%  extends '::forntend.html.twig' %}

{% block title %}FAC - Inicio{% endblock %}
{% block metas %}
<meta name="description" content="Home">
<meta name="keywords" content="FAC">
<meta name="robots" CONTENT="noindex, nofollow">
{% endblock%}


 {% block stylesheets %}
 {{ parent() }}
 <link href="{{ asset('bundles/gestionbundle/css/home.css') }}" rel="stylesheet" type="text/css" />
 <link href="{{ asset('css/menu.css') }}" rel="stylesheet" type="text/css" /> 
 <link href="{{ asset('bundles/ofigestion/css/empresa.css') }}" rel="stylesheet" type="text/css" /> 
 {% endblock%}






{% block cabecera %}
{% include 'OfiGestionBundle:Fijas:sesion.html.twig' %}
{% include 'OfiGestionBundle:Fijas:menu.html.twig' %} 
 {% endblock%}
 
 
 {% block body %}
 
 
 {% for flashMessage2 in app.session.flashbag.get('empresa') %}
    <div class="flash_ok">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

{% for flashMessage2 in app.session.flashbag.get('empresa_error') %}
    <div class="flash_error">
        {{ flashMessage2 | raw }}
    </div>
{% endfor %}

 <div id="listado_clientes">
 {% set elfiltro="" %}
 {% if filtro==2 %}
	{% set elfiltro="Todas clientes / proveedores" %}
 {% elseif filtro==1 %}
	{% set elfiltro="Clientes" %}
 {% elseif filtro==0 %}
	{% set elfiltro="Proveedores" %}
 {% endif %}	
  <h2>Listado de empresas: <span class="color_oscuro">{{ elfiltro }}</span></h2>
	<div class="count">
    Total empresas: <span class="color_oscuro_medio">{{ pagination.getTotalItemCount }}</span>
	</div>
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
	</div>
<table>
        
        <thead>
            <tr>
                <th class="acciones"></th>
				<th class="alaiz">{{ knp_pagination_sortable(pagination, 'Ordenar', 'e.nombre') }}Nombre</th>
				<th class="alaiz">{{ knp_pagination_sortable(pagination, 'Ordenar', 'e.apellido') }}Apellido</th>
				<th class="alaiz">{{ knp_pagination_sortable(pagination, 'Ordenar', 'e.nomsocial') }}Nombre comercial</th> 
				<th class="alaiz">{{ knp_pagination_sortable(pagination, 'Ordenar', 'e.tipo') }}Tipo</th>  
				<th class="acciones"></th>        
            </tr>
            
        </thead>
        
        <tbody>
            {% set n=1 %}
        {% for empresa in pagination %}
        
			{% if n is divisibleby(2)  %}
				{% set linea="impar" %} 
            {% else %}
				{% set linea="par" %}
            {% endif %}
        
        
            <tr class=" {{ linea }} ilumina">
				<td>
				

				
	<a href="{{ path('ofi_gestion_eliminarempresa',
	{'id':empresa.id,'ok':'no' })}}" class="bo_borrar" 
   title="Eliminar empresa: {{ empresa.nombre }} {{ empresa.apellido }}"
	></a>
		
				</td>
				
				<td>
				<a href="{{ path('ofi_gestion_editarempresa',
	{'id':empresa.id })}}" 
	title="Editar/Ver empresa: {{ empresa.nombre }} {{ empresa.apellido }}" 
	class="bo_editar_txt">
				{{ empresa.nombre }}</a></td>
				
				<td>
				<a href="{{ path('ofi_gestion_editarempresa',
	{'id':empresa.id })}}" 
	title="Editar/Ver empresa: {{ empresa.nombre }} {{ empresa.apellido }}" 
	class="bo_editar_txt">
				{{ empresa.apellido }}</a></td>
				
				<td>
				<a href="{{ path('ofi_gestion_editarempresa',
	{'id':empresa.id })}}" 
	title="Editar/Ver empresa: {{ empresa.nombre }} {{ empresa.apellido }}" 
	class="bo_editar_txt">
				{{ empresa.nomsocial }}</a></td>
				
				<td>{% if empresa.tipo==1 %}
				<img src="{{ asset('images/cliente.png') }}" alt="Icono Cliente" title="Cliente" />
				{% elseif empresa.tipo==0 %}
				<img src="{{ asset('images/proveedor.png') }}" alt="Icono Proveedor" title="Proveedor" />
				{% endif %}
				</td>
            
				<td>
	<a href="{{ path('ofi_gestion_editarempresa',
	{'id':empresa.id })}}" 
	title="Editar empresa: {{ empresa.nombre }} {{ empresa.apellido }}" 
	class="bo_editar"></a>
				</td>
            </tr>
               {% set n=n+1 %}    
        {% endfor %}
        </tbody>
        
    </table> 
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
	</div>
  </div>     
 {% endblock%}
 
 {% block footer %}
 {% include 'OfiGestionBundle:Fijas:footer.html.twig' %} 
 {% endblock%}
