
<div id="lista_correos"> 
{% if entity|length>0 %}
 <table>
        
        <thead>
            <tr>
                <th class="acciones">Acciones</th>
				<th class="alaiz">E-mail</th>
				<th class="alaiz">Nombre</th>
				<th class="alaiz">Cargo</th> 
				<th class="alaiz">Boletín</th>          
            </tr>
            
        </thead>
        
        <tbody>
            {% set n=1 %}
        {% for correo in entity %}
        
			{% if n is divisibleby(2)  %}
				{% set linea="impar" %} 
            {% else %}
				{% set linea="par" %}
            {% endif %}
        
        
            <tr class=" {{ linea }}">
				<td>
				<a href="{{ path('ofi_gestion_eliminarcorreo',{'id':correo.id}) }}">Eliminar</a>
				</td>
				<td>{{ correo.mail }}</td>
				<td>{{ correo.nombre }}</td>
				<td>{{ correo.cargo }}</td>
				<td>{{ correo.boletin }}</td>
            
            </tr>
               {% set n=n+1 %}    
        {% endfor %}
        </tbody>
        
    </table>
    {% else %}
    Este cliente no tiene seleccioando ningún e-mail
    {% endif %}
</div>        
