
<div id="lista_correos"> 
{% if entity|length>0 %}
 <table>
        
        <thead>
            <tr>
                <th class="acciones"></th>
				<th class="alaiz">E-mail</th>
				<th class="alaiz">Nombre</th>
				<th class="alaiz">Cargo</th> 
				<th class="alaiz">Boletín</th>          
            </tr>
            
        </thead>
        
        <tbody>
            {% set n=1 %}
        {% for correo in entity %}
        
			{% if n is divisibleby(2)  %}
				{% set linea="impar" %} 
            {% else %}
				{% set linea="par" %}
            {% endif %}
        
        
            <tr class=" {{ linea }}">
				<td class="accion">
				<a href="{{ path('ofi_gestion_eliminarcorreo',
				{'id':correo.id}) }}" class="bo_borrar" 
				title="Eliminar E-mail: {{ correo.mail }}"></a>
				</td>
				<td>{{ correo.mail }}</td>
				<td>{{ correo.nombre }}</td>
				<td>{{ correo.cargo }}</td>
				<td>
				{% if correo.boletin==1 %}
				<img src="{{ asset('bundles/ofigestion/images/luz_verde.png') }}" alt="Acepta Boletín" />
				{% elseif correo.boletin==0 %}
				<img src="{{ asset('bundles/ofigestion/images/luz_gris.png') }}" alt="No Acepta Boletín" />
				{% endif %}
				</td>
            
            </tr>
               {% set n=n+1 %}    
        {% endfor %}
        </tbody>
        
    </table>
    {% else %}
   A este cliente no se le ha asignado ningún correo.
    {% endif %}
</div>        
